@charset "UTF-8";

/*
    Tudo que em HTML é id = em CSS é # (só pode um elemento)
    Tudo que em HTML é classe = em CSS é . (posso ter vários elementos) 
*/

body {
    background-color: rgb(132, 236, 201);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(1, 73, 49);
}

#principal {
    text-align: center;
    background-color: rgb(1, 73, 49);
    color: white;
}

h2 {
    color: rgb(72, 119, 103);
}

.basico {
    color: rgb(72, 119, 103);
}

.intermediario {
    color: rgb(119, 118, 72);
}

.avancado {
    color: rgb(119, 72, 72);
}