
header {
    height: 100%;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    background-image: linear-gradient(to bottom, #04bb04, #00800093, #00800049);
    background-attachment: fixed;
    text-align: center;
}