@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

p {
    text-align: justify;
}

body {
    background-image: linear-gradient(to right, #D9D9D9, #A1A5A6);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #616464a1;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #F2B138;
    text-align: center;
    text-shadow: 1px 1px 2px #75551ab0;
}

h2 {
    color: #003F63;
}